@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  main {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
  }

  menu {
    width: 100%;
    max-width: 240px;

    border-radius: 15px;
    background-color: var(--darkBlue);

    position: relative;
    z-index: 1;

    ul {
      padding: 15px 20px;

      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    li {
      font-size: 0.98rem;
      opacity: 0.4;

      cursor: pointer;
    }

    .selected {
      opacity: 1;
    }
  }

  @media (max-width: 860px) {
    main {
      flex-direction: column;
    }

    menu {
      max-width: 100%;
      margin-bottom: 30px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 20px 20px;
      }

      li {
        padding: 0 14px;
      }
    }
  }

  @media (max-width: 500px) {
    menu {
      li {
        padding: 0;
      }
    }
  }
}

.containerOption {
  position: absolute;
  top: 99%;
  width: 100%;
  height: fit-content;

  background-color: var(--darkBlue);

  border-top: 4px solid rgba(255, 255, 255, 0.404);
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: 860px) {
    border-top: 2px solid rgba(255, 255, 255, 0.404);
    position: initial;

    display: flex;
    justify-content: initial !important;
    flex-wrap: wrap;
  }
}

.containerSleep {
  padding: 20px 15px 0 20px;

  button {
    border: none;
    padding: 7px 15px;

    color: white;
    background-color: #5746ea;

    transition: opacity .12s ease;

    &:hover {
      opacity: .8;
    }
  }

  strong {
    margin-left: 20px;
    font-weight: 300;
  }

  @media (max-width: 860px) {
    padding-left: 32px;
  }
}

.contentUser {
  width: 100%;
  min-height: 350px;

  display: flex;
  flex-direction: column;

  background-color: #5746ea;
  padding: 40px 24px;

  border-radius: 15px;

  img {
    width: 130px;
    height: 130px;

    margin-bottom: 20px;

    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;

    cursor: pointer;
  }

  span {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.9);
  }

  h1 {
    font-size: 2.3rem;
    font-weight: 300;
  }

  @media (max-width: 860px) {
    flex-direction: row;
    min-height: fit-content;

    padding: 30px 20px;

    img {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  @media (max-width: 500px) {
    align-items: center;

    img {
      width: 80px;
      height: 80px;
    }

    h1 {
      width: 100%;

      font-size: 1.5rem;
    }
  }
}




.DifferentValue {
  margin-top: 10px;
  display: flex;
  flex-direction: column !important;

  p {
    font-size: .75rem;
    font-weight: 500;
  }

  .above {
    // color: rgb(255, 32, 32);
    color: rgb(255, 99, 99);
  }

  .below {
    color: rgb(67, 67, 255);
  }
}





.containerSection {
  width: 100%;
  max-width: 1000px;
  margin-left: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;

  .secWork {
    background-color: var(--lightRedWork);
  }
  .secPlay {
    background-color: var(--softBluePlay);
  }
  .secStudy {
    background-color: var(--lightRedStudy);
  }
  .secExercise {
    background-color: var(--limegreenExercise);
  }
  .secSocial {
    background-color: var(--violetSocial);
  }
  .secSelfCare {
    background-color: var(--softOrageSelfCare);
  }

  article {
    display: none;
    padding-top: 50px;

    display: flex;
    flex-direction: column;

    border-radius: 15px;

    position: relative;
    overflow: hidden;

    cursor: pointer;
  }

  strong {
    font-size: 0.8rem;
    font-weight: 500;
  }

  img {
    position: absolute;
    top: -10px;
    right: 15px;

    z-index: 5;
  }

  .contentArticle {
    height: 100%;

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 15px;

    background-color: var(--darkBlue);

    position: relative;
    z-index: 8;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .dots {
      height: fit-content;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4px;

      cursor: pointer;

      div {
        padding: 2.5px;
        border-radius: 50%;
        background-color: white;
      }
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 300;
    }

    span {
      font-size: 1rem;
      color: white;
      opacity: 0.6;
    }
  }

  @media (max-width: 860px) {
    margin: 0;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.containerEditCard {
  width: 100vw;
  height: 100vh;

  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(226, 41%, 10%, 0.4);

  .containerEdit {
    width: 100%;
    max-width: 350px;
    padding: 20px;

    border-radius: 5px;

    box-shadow: 0 0 20px hsla(226, 30%, 21%, 0.497);
    background-color: var(--darkBlue);

    h3 {
      font-size: 1.7rem;
      font-weight: 300;
    }

    p {
      margin: 0;

      font-size: 0.9rem;
      margin-bottom: 18px;
    }

    form {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    input {
      padding: 0 10px 2px 6px;

      border: none;
      border-bottom: 2px solid #5746ea;
      background-color: transparent;

      color: white;

      outline: 0;

      &::placeholder {
        color: rgba(255, 255, 255, 0.73);
      }
    }

    button {
      padding: 7px 10px;

      border: none;

      font-size: 0.9rem;
      font-weight: 500;
      color: white;
      background-color: #5746ea;

      &:disabled {
        cursor: not-allowed;
        opacity: .7;
      }
    }
  }

  .containerEditBtn {
    width: 100%;
    max-width: 350px;
    margin-bottom: 18px;

    button {
      border: 0;
      padding: 6px 13px;

      color: white;
      background-color: rgb(254, 60, 17);

      outline: 0;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
